// 全局变量

// 深黑
$COLOR_BLACK: #333;
// 浅黑
$COLOR_BLACK_LIGHT: #797979;
// 主前景色
$COLOR_MAIN: #4e90fe;
// 主色的浅化版
$COLOR_MAIN_LIGHT: #f2f2f2;
// 次色
$COLOR_SECOND: #fff;
// 点缀色（第二次色）
$COLOR_THIRD: #000;
// 悬浮色（取主色和主色浅化版中间值）
$COLOR_HOVER: orange;

// 主前景色
$COLOR_FONT: #333;
// 语义替代
// 红
$COLOR_RED: #f64200;
// 绿
$COLOR_GREEN: #9dce3d;
// 黄
$COLOR_YELLOW: #f8a504;
// 蓝
$COLOR_BLUE: #77a2dc;
// 紫
$COLOR_VIOLET: #9c63dd;
// 橙
$COLOR_ORANGE: #EC9B05;

// 弹性视口
$XS: 0;
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1400px;

// 统一圆角
$RADIUS: 17px;

// 背景磨砂效果
$BG_OPACITY: rgba(131, 128, 128, 0.24);

// 自定义函数
@mixin func_flex($dirction: row, $align: center, $alignV: center) {
	display: flex;
	flex-direction: $dirction;
	justify-content: $align;
	align-items: $alignV;
}